In [41]:
import pandas as pd
df=pd.read_excel('cleaning.xlsx')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y,False
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,True
6,1007,Jeff,Winger,NaN,1209 South Street,N,N,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,False
8,1009,Gandalf,NaN,Na,123 Middle Earth,Y,NaN,False
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,N,True
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson_,3047622467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N,False
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,Na,N/a,N/a,Y,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,True

In [42]:
df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y,False
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,True
6,1007,Jeff,Winger,NaN,1209 South Street,N,N,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,False
8,1009,Gandalf,NaN,Na,123 Middle Earth,Y,NaN,False
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,N,True
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson_,3047622467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N,False
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,Na,N/a,N/a,Y,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,True

In [43]:
df["Last_Name"] = df["Last_Name"].str.strip("/.")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y,False
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,True
6,1007,Jeff,Winger,NaN,1209 South Street,N,N,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,False
8,1009,Gandalf,NaN,Na,123 Middle Earth,Y,NaN,False
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,N,True
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson_,3047622467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N,False
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,Na,N/a,N/a,Y,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,True

In [44]:
df["Phone_Number"] = df["Phone_Number"].str.replace("-", "" )
df["Phone_Number"] = df["Phone_Number"].str.replace("/", "" )
df["Phone_Number"] = df["Phone_Number"].str.replace("|", "" )
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y,False
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,True
6,1007,Jeff,Winger,NaN,1209 South Street,N,N,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,False
8,1009,Gandalf,NaN,Na,123 Middle Earth,Y,NaN,False
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,N,True
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson_,3047622467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N,False
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,Na,N/a,N/a,Y,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,True

In [45]:
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace("Yes", "Y" )
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace("No", "N" )
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y,False
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,True
6,1007,Jeff,Winger,NaN,1209 South Street,N,N,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,False
8,1009,Gandalf,NaN,Na,123 Middle Earth,Y,NaN,False
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,N,True
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson_,3047622467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N,False
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,Na,N/a,N/a,Y,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,True

In [46]:
df["Paying Customer"] = df["Paying Customer"].str.replace("Yes", "Y" )
df["Paying Customer"] = df["Paying Customer"].str.replace("No", "N" )
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y,False
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,True
6,1007,Jeff,Winger,NaN,1209 South Street,N,N,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,False
8,1009,Gandalf,NaN,Na,123 Middle Earth,Y,NaN,False
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,N,True
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson_,3047622467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N,False
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,Na,N/a,N/a,Y,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,True

In [47]:
df = df.dropna()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y,False
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,True
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,False
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N,True
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson_,3047622467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N,False
18,1019,Creed,Braton,Na,N/a,N/a,Y,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,True

In [48]:
df = df.dropna()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y,False
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,True
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,False
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N,True
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson_,3047622467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N,False
18,1019,Creed,Braton,Na,N/a,N/a,Y,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,True

In [49]:
import pandas as pd
df = pd.read_excel('cleaning.xlsx')
df = df.drop_duplicates()
df["Last_Name"] = df["Last_Name"].str.strip("/.")
df["Phone_Number"] = df["Phone_Number"].str.replace("-", "" )
df["Phone_Number"] = df["Phone_Number"].str.replace("/", "" )
df["Phone_Number"] = df["Phone_Number"].str.replace("|", "" )
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace("Yes", "Y" )
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace("No", "N" )
df["Paying Customer"] = df["Paying Customer"].str.replace("Yes", "Y" )
df["Paying Customer"] = df["Paying Customer"].str.replace("No", "N" )
df = df.dropna()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y,False
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,True
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,False
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N,True
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson_,3047622467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N,False
18,1019,Creed,Braton,Na,N/a,N/a,Y,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,True

In [50]:
import pandas as pd
import numpy as np

df = pd.read_excel('cleaning.xlsx')

# Convert known string representations of nulls to np.nan for consistent handling by dropna()
df.replace({'N/a': np.nan, 'nan': np.nan, '': np.nan}, inplace=True)

df = df.drop_duplicates()

# Apply existing Last_Name cleaning (strip / and . and leading/trailing whitespace)
df["Last_Name"] = df["Last_Name"].astype(str).str.strip("/. ")

# Apply Phone_Number cleaning
df["Phone_Number"] = df["Phone_Number"].astype(str).str.replace("-", "" )
df["Phone_Number"] = df["Phone_Number"].astype(str).str.replace("/", "" )
df["Phone_Number"] = df["Phone_Number"].astype(str).str.replace("|", "" )

# Apply Do_Not_Contact cleaning
df["Do_Not_Contact"] = df["Do_Not_Contact"].astype(str).str.replace("Yes", "Y" )
df["Do_Not_Contact"] = df["Do_Not_Contact"].astype(str).str.replace("No", "N" )

# Apply Paying Customer cleaning
df["Paying Customer"] = df["Paying Customer"].astype(str).str.replace("Yes", "Y" )
df["Paying Customer"] = df["Paying Customer"].astype(str).str.replace("No", "N" )

# Perform the current subtask: remove all rows containing null values
df = df.dropna()

# Perform the second part of the overall task: remove any remaining special characters from 'Last_Name'
df["Last_Name"] = df["Last_Name"].astype(str).str.replace(r'[^a-zA-Z\s]', '', regex=True).str.strip()

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y,False
2,1003,Walter,White,nan,298 Drugs Driveway,N,nan,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,True
6,1007,Jeff,Winger,nan,1209 South Street,N,N,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,False
8,1009,Gandalf,nan,Na,123 Middle Earth,Y,nan,False
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N,True
10,1011,Samwise,Gamgee,nan,"612 Shire Lane, Shire",Y,N,True
11,1012,Harry,Potter,nan,2394 Hogwarts Avenue,Y,nan,True
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N,False
17,1018,Clark,Kent,nan,3498 Super Lane,Y,nan,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,True

In [51]:
import pandas as pd
import numpy as np


df = pd.read_excel('cleaning.xlsx')

# Convert known string representations of nulls to np.nan for consistent handling by dropna()
df.replace({'N/a': np.nan, 'nan': np.nan, '': np.nan}, inplace=True)

df = df.drop_duplicates()

# Apply existing Last_Name cleaning (strip / and . and leading/trailing whitespace)
df["Last_Name"] = df["Last_Name"].astype(str).str.strip("/. ")

# Apply Phone_Number cleaning
df["Phone_Number"] = df["Phone_Number"].astype(str).str.replace("-", "" )
df["Phone_Number"] = df["Phone_Number"].astype(str).str.replace("/", "" )
df["Phone_Number"] = df["Phone_Number"].astype(str).str.replace("|", "" )

# Apply Do_Not_Contact cleaning
df["Do_Not_Contact"] = df["Do_Not_Contact"].astype(str).str.replace("Yes", "Y" )
df["Do_Not_Contact"] = df["Do_Not_Contact"].astype(str).str.replace("No", "N" )

# Apply Paying Customer cleaning
df["Paying Customer"] = df["Paying Customer"].astype(str).str.replace("Yes", "Y" )
df["Paying Customer"] = df["Paying Customer"].astype(str).str.replace("No", "N" )

# Perform the current subtask: remove all rows containing null values
df = df.dropna()

# Perform the second part of the overall task: remove any remaining special characters from 'Last_Name'
df["Last_Name"] = df["Last_Name"].astype(str).str.replace(r'[^a-zA-Z\s]', '', regex=True).str.strip()

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y,False
2,1003,Walter,White,nan,298 Drugs Driveway,N,nan,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,True
6,1007,Jeff,Winger,nan,1209 South Street,N,N,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,False
8,1009,Gandalf,nan,Na,123 Middle Earth,Y,nan,False
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N,True
10,1011,Samwise,Gamgee,nan,"612 Shire Lane, Shire",Y,N,True
11,1012,Harry,Potter,nan,2394 Hogwarts Avenue,Y,nan,True
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N,False
17,1018,Clark,Kent,nan,3498 Super Lane,Y,nan,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,True

In [52]:
import pandas as pd
import numpy as np

df = pd.read_excel('cleaning.xlsx')

# Convert known string representations of nulls to np.nan for consistent handling by dropna()
df.replace({'N/a': np.nan, 'nan': np.nan, '': np.nan}, inplace=True)

df = df.drop_duplicates()

# Perform the current subtask: remove all rows containing null values *before* other string operations
df = df.dropna()

# Apply existing Last_Name cleaning (strip / and . and leading/trailing whitespace)
df["Last_Name"] = df["Last_Name"].astype(str).str.strip("/. ")

# Apply Phone_Number cleaning
df["Phone_Number"] = df["Phone_Number"].astype(str).str.replace("-", "" )
df["Phone_Number"] = df["Phone_Number"].astype(str).str.replace("/", "" )
df["Phone_Number"] = df["Phone_Number"].astype(str).str.replace("|", "" )

# Apply Do_Not_Contact cleaning
df["Do_Not_Contact"] = df["Do_Not_Contact"].astype(str).str.replace("Yes", "Y" )
df["Do_Not_Contact"] = df["Do_Not_Contact"].astype(str).str.replace("No", "N" )

# Apply Paying Customer cleaning
df["Paying Customer"] = df["Paying Customer"].astype(str).str.replace("Yes", "Y" )
df["Paying Customer"] = df["Paying Customer"].astype(str).str.replace("No", "N" )

# Perform the second part of the overall task: remove any remaining special characters from 'Last_Name'
df["Last_Name"] = df["Last_Name"].astype(str).str.replace(r'[^a-zA-Z\s]', '', regex=True).str.strip()

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y,False
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,True
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,False
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N,True
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N,False
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,True

In [53]:
import pandas as pd
import numpy as np

df = pd.read_excel('cleaning.xlsx')
# Convert known string representations of nulls to np.nan for consistent handling by dropna()
df.replace({'N/a': np.nan, 'nan': np.nan, 'NaN': np.nan, '': np.nan}, inplace=True)

df = df.drop_duplicates()

# Perform the current subtask: remove all rows containing null values *before* other string operations
df = df.dropna()
df = df.reset_index(drop=True)

# Apply existing Last_Name cleaning (strip / and . and leading/trailing whitespace)
df["Last_Name"] = df["Last_Name"].astype(str).str.strip("/. ")

# Apply Phone_Number cleaning
df["Phone_Number"] = df["Phone_Number"].astype(str).str.replace("-", "" )
df["Phone_Number"] = df["Phone_Number"].astype(str).str.replace("/", "" )
df["Phone_Number"] = df["Phone_Number"].astype(str).str.replace("|", "" )

# Apply Do_Not_Contact cleaning
df["Do_Not_Contact"] = df["Do_Not_Contact"].astype(str).str.replace("Yes", "Y" )
df["Do_Not_Contact"] = df["Do_Not_Contact"].astype(str).str.replace("No", "N" )

# Apply Paying Customer cleaning
df["Paying Customer"] = df["Paying Customer"].astype(str).str.replace("Yes", "Y" )
df["Paying Customer"] = df["Paying Customer"].astype(str).str.replace("No", "N" )

# Perform the second part of the overall task: remove any remaining special characters from 'Last_Name'
df["Last_Name"] = df["Last_Name"].astype(str).str.replace(r'[^a-zA-Z\s]', '', regex=True).str.strip()

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y,False
2,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
3,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N,True
4,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,True
5,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,False
6,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N,True
7,1013,Don,Draper,1235432345,2039 Main Street,Y,N,False
8,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N,False
9,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N,False
10,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,False
11,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N,False
12,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,True

In [54]:
# Export cleaned Excel file
df.to_excel("cleaning.xlsx", index=False)

from google.colab import files
files.download("cleaning.xlsx")